Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

lefthook.yml:

# Lefthook configuration for AI-driven development
# Install: brew install lefthook && lefthook install
#
# This ensures code is always formatted before commit, preventing merge conflicts
# between AI agents and human developers.

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: mix format --check-formatted {staged_files}
      stage_fixed: true

    frontend-format:
      root: "frontend/"
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    frontend-typecheck:
      root: "frontend/"
      run: bun run typecheck
      # Only run if TypeScript files changed
      glob: "*.{ts,tsx}"

# Commit message validation (optional, helps with consistency)
commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty and has reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Empty commit message"
          exit 1
        fi
        if [ ${#msg} -lt 10 ]; then
          echo "Commit message too short (min 10 chars)"
          exit 1
        fi

In "settings" page language picker doesn't respect user preferences, it always shows "english" after reload (vibe-kanban dcf987f5)
  frontend/src/components/ui/Input.tsx
  frontend/src/i18n/index.tsx
Due: frontend-format, frontend-typecheck

Use persisted shape for "stream history", fix Admin > Users overflow (vibe-kanban 9badbcd9)
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
Due: frontend-format, frontend-typecheck

Add GraphQL and Electric SQL routes to Caddyfile.prod
  Caddyfile.prod
Due: none

Remove all GraphQL references from docs and config files
  .claude/agents/backend-graphql-task.md
  .claude/agents/backend-widget-subscriptions.md
  .claude/agents/frontend-obs-browser-sources.md
  .formatter.exs
  CLAUDE.md
  Caddyfile.prod
  cdk/README.md
  cdk/src/main.ts
  frontend/src/graphql-env.d.ts
  frontend/src/routes/u/[username].tsx
  frontend/tsconfig.json
  lib/streampai/accounts/widget_config/changes/atomize_config_keys.ex
Due: elixir-format, frontend-format, frontend-typecheck

Test FE app build in conditions similar to our desired PROD env (vibe-kanban e441eb6e)
  .claude/agents/backend-graphql-task.md
  .claude/agents/backend-widget-subscriptions.md
  .claude/agents/frontend-obs-browser-sources.md
  .formatter.exs
  CLAUDE.md
  Caddyfile.prod
  Justfile
  Procfile.prod
  cdk/README.md
  cdk/src/main.ts
  frontend/src/graphql-env.d.ts
  frontend/src/routes/u/[username].tsx
  frontend/tsconfig.json
  lib/streampai/accounts/widget_config/changes/atomize_config_keys.ex
Due: elixir-format, frontend-format, frontend-typecheck

Rename tests workflow
  .github/workflows/test_and_deploy.yml
Due: none

Get rid of useless 'prod' files
  Caddyfile.prod
  Procfile.prod
Due: none

Load env's on entry
  .envrc
Due: none

Adjust dockerfile
  Dockerfile
Due: none

Get rid of prod scripts
  Justfile
Due: none

Adjust prod docker compose
  docker-compose.prod.yml
Due: none

Add dotenv dependency
  cdk/bun.lock
  cdk/package.json
Due: none

Update CDK
  cdk/src/config.ts
  cdk/src/main.ts
Due: none

Fix deploy workflow
  .github/workflows/terraform.yml
  .github/workflows/test_and_deploy.yml
  config/runtime.exs
Due: elixir-format

Format CDK
  Justfile
  cdk/src/config.ts
  cdk/src/main.ts
Due: none

Bump elixir version in CI
  .github/workflows/test_and_deploy.yml
Due: none

Bump elixir version in dockerfile
  Dockerfile
Due: none

Adjust the app to 2 domains setup
  cdk/src/main.ts
  config/config.exs
  config/runtime.exs
  frontend/src/lib/constants.ts
  frontend/src/lib/electric.ts
  frontend/src/lib/impersonation.tsx
  frontend/src/lib/rpcHooks.ts
  frontend/src/lib/socket.ts
  frontend/src/routes/login.tsx
  lib/streampai_web/endpoint.ex
  lib/streampai_web/plugs/csrf_protection.ex
Due: elixir-format, frontend-format, frontend-typecheck

Fix/skip tests for now
  lib/streampai/accounts/user/senders/send_new_user_confirmation_email.ex
  test/streampai/accounts/streaming_account_refresh_stats_test.exs
  test/streampai/notifications/notification_localization_test.exs
Due: elixir-format

Add CDK CNAME record
  cdk/src/main.ts
Due: none

Update elixir dockerfile
  .github/workflows/test_and_deploy.yml
  Dockerfile
Due: none

Fix Elixir version
  .github/workflows/test_and_deploy.yml
  Dockerfile
Due: none

Add SolidJS favicon to frontend
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/src/entry-server.tsx
Due: frontend-format, frontend-typecheck

Fix Dockerfile
  Dockerfile
  Justfile
  mix.exs
Due: elixir-format

Add SolidJS Favicon (vibe-kanban bda94a6c)
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/src/entry-server.tsx
Due: frontend-format, frontend-typecheck

Justfile fix
  Justfile
Due: none

Add DEV and PROD environment documentation
  docs/environments.md
Due: none

Address code review feedback on environment docs
  docs/environments.md
Due: none

Fix security vulnerabilities for subdomain deployment
  lib/streampai_web/controllers/cloudflare_webhook_controller.ex
  lib/streampai_web/controllers/sync_controller.ex
  lib/streampai_web/router.ex
Due: elixir-format

Make document about our DEV environment and PROD environment (vibe-kanban 0eec8c35)
  docs/environments.md
Due: none

Refactor SyncController to use Ecto parameterized queries
  lib/streampai_web/controllers/sync_controller.ex
Due: elixir-format

Address code review feedback for SyncController
  lib/streampai_web/controllers/sync_controller.ex
Due: elixir-format

Go through our backend, do we have any vurnerabilities if we share our app at subdomain (vibe-kanban e096aa66)
  lib/streampai_web/controllers/cloudflare_webhook_controller.ex
  lib/streampai_web/controllers/sync_controller.ex
  lib/streampai_web/router.ex
Due: elixir-format

Fix deployment
  Dockerfile
  lib/streampai_web/endpoint.ex
  mix.exs
Due: elixir-format

Add debug logging for cache hydration status
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Improve cache-to-sync transition: convert inserts to updates instead of truncating
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Add persistence to admin users collection
  frontend/src/lib/electric.ts
  frontend/src/routes/dashboard/admin/users.tsx
Due: frontend-format, frontend-typecheck

[DOCS] Document Electric SQL persistence usage and patterns
  CLAUDE.md
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Fix documentation issues from code review
  CLAUDE.md
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Add persistence to streaming_accounts collection
  CLAUDE.md
  frontend/src/lib/electric.ts
Due: frontend-format, frontend-typecheck
