Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

lefthook.yml:

# Lefthook configuration for AI-driven development
# Install: brew install lefthook && lefthook install
#
# This ensures code is always formatted before commit, preventing merge conflicts
# between AI agents and human developers.

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: mix format --check-formatted {staged_files}
      stage_fixed: true

    frontend-format:
      root: "frontend/"
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    frontend-typecheck:
      root: "frontend/"
      run: bun run typecheck
      # Only run if TypeScript files changed
      glob: "*.{ts,tsx}"

# Commit message validation (optional, helps with consistency)
commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty and has reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Empty commit message"
          exit 1
        fi
        if [ ${#msg} -lt 10 ]; then
          echo "Commit message too short (min 10 chars)"
          exit 1
        fi

[IMPL] Create IDBPersister utility class for IndexedDB persistence (vibe-kanban 54b95e3d)
  frontend/src/lib/idb-persister.test.ts
  frontend/src/lib/idb-persister.ts
Due: frontend-format, frontend-typecheck

[MEDIUM][I18N] Localize hardcoded placeholder strings in StreamControlsWidget (vibe-kanban 55bac798)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

Fix breadcrumb reactivity - items now update when data loads
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/BreadcrumbContext.tsx
Due: frontend-format, frontend-typecheck

[IMPL] Create persistedElectricCollection wrapper for IndexedDB persistence (vibe-kanban 3ef2)
  frontend/src/lib/persisted-electric.test.ts
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

[IMPL] Add cache management utilities for Electric persistence (vibe-kanban e4e6)
  frontend/src/lib/electric-cache.test.ts
  frontend/src/lib/electric-cache.ts
Due: frontend-format, frontend-typecheck

Add proper breadcrumbs to dashboard (vibe-kanban 0de72548)
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/ui/Breadcrumbs.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/BreadcrumbContext.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/viewers/[id].tsx
  frontend/src/routes/dashboard/widgets/[slug].tsx
Due: frontend-format, frontend-typecheck

Address code review feedback for persistedElectricCollection
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

[IMPL] Create persistedElectricCollection wrapper function (vibe-kanban c3bd16fa)
  frontend/src/lib/persisted-electric.test.ts
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

[IMPL] Add cache management utilities for Electric persistence (vibe-kanban 7889ce0f)
  frontend/src/lib/electric-cache.test.ts
  frontend/src/lib/electric-cache.ts
Due: frontend-format, frontend-typecheck

[FIX][AUTH] Address code review feedback for impersonation
  frontend/src/routes/dashboard/admin/users.tsx
  lib/streampai_web/router.ex
Due: elixir-format, frontend-format, frontend-typecheck

[HIGH][AUTH] Implement user impersonation for SolidJS frontend
  frontend/src/app.tsx
  frontend/src/components/ImpersonationBanner.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/ImpersonationContext.ts
  frontend/src/lib/impersonation.tsx
  frontend/src/routes/dashboard/admin/users.tsx
  lib/streampai_web/controllers/ash_typescript_rpc_controller.ex
  lib/streampai_web/controllers/impersonation_controller.ex
  lib/streampai_web/plugs/safe_load_from_session.ex
  lib/streampai_web/router.ex
Due: elixir-format, frontend-format, frontend-typecheck

[FIX][UI] Fix impersonation banner exit button and locale preservation
  frontend/src/components/ImpersonationBanner.tsx
  frontend/src/components/LocaleSync.tsx
Due: frontend-format, frontend-typecheck

[FIX][UI] Populate language setting from database sync
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/routes/dashboard/settings.tsx
Due: frontend-format, frontend-typecheck

[FIX][A11Y] Add focus styling to impersonation exit button
  frontend/src/components/ImpersonationBanner.tsx
Due: frontend-format, frontend-typecheck

Impersonation Support (vibe-kanban c91054ea)
  frontend/src/app.tsx
  frontend/src/components/ImpersonationBanner.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/LocaleSync.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/ImpersonationContext.ts
  frontend/src/lib/impersonation.tsx
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/settings.tsx
  lib/streampai_web/controllers/ash_typescript_rpc_controller.ex
  lib/streampai_web/controllers/impersonation_controller.ex
  lib/streampai_web/plugs/safe_load_from_session.ex
  lib/streampai_web/router.ex
Due: elixir-format, frontend-format, frontend-typecheck

Fix Admin Users page horizontal overflow
  frontend/src/components/DashboardLayout.tsx
Due: frontend-format, frontend-typecheck

[IMPL] Migrate high-value collections to use IndexedDB persistence
  frontend/src/lib/electric.ts
Due: frontend-format, frontend-typecheck

Admin > Users page overflows to the right (vibe-kanban 29c0396f)
  frontend/src/components/DashboardLayout.tsx
Due: frontend-format, frontend-typecheck

Improve footer layout - logo full height, language picker at bottom
  frontend/src/components/dashboard/Header.tsx
Due: frontend-format, frontend-typecheck

Fix landing page footer layout - language picker taking too much space
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/PublicFooter.tsx
  frontend/src/components/ui/Input.tsx
Due: frontend-format, frontend-typecheck

Fix useUserPreferencesForUser to use persisted collection
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Fix WidgetSettingsPage to not wait for Electric sync
  frontend/src/components/WidgetSettingsPage.tsx
Due: frontend-format, frontend-typecheck

[IMPL] Migrate high-value collections to use persistence (vibe-kanban f79e7d73)
  frontend/src/components/WidgetSettingsPage.tsx
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Fix landing page footer (vibe-kanban ff0dfc64)
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/PublicFooter.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/ui/Input.tsx
Due: frontend-format, frontend-typecheck

Fix CSRF review feedback and Header.tsx type error
  frontend/src/lib/csrf.ts
  lib/streampai_web/plugs/csrf_protection.ex
Due: elixir-format, frontend-format, frontend-typecheck

[SECURITY] Add CSRF protection for SPA API endpoints
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/NotificationBell.tsx
  frontend/src/components/WidgetSettingsPage.tsx
  frontend/src/components/settings/AvatarUploadSection.tsx
  frontend/src/components/settings/DonationSettingsForm.tsx
  frontend/src/components/settings/PlatformConnectionsPanel.tsx
  frontend/src/components/settings/UserRolesManagement.tsx
  frontend/src/lib/auth.tsx
  frontend/src/lib/csrf.ts
  frontend/src/lib/widget-config.ts
  frontend/src/routes/dashboard/admin/notifications.tsx
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/analytics.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/smart-canvas/[userId]/display.tsx
  frontend/src/routes/dashboard/smart-canvas/index.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/dashboard/viewers/[id].tsx
  frontend/src/routes/dashboard/viewers/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/u/[username].tsx
  frontend/src/routes/w/alertbox/[userId].tsx
  frontend/src/routes/w/chat/[userId].tsx
  frontend/src/routes/w/donation-goal/[userId].tsx
  frontend/src/routes/w/eventlist/[userId].tsx
  frontend/src/routes/w/follower-count/[userId].tsx
  frontend/src/routes/w/giveaway/[userId].tsx
  frontend/src/routes/w/placeholder/[userId].tsx
  frontend/src/routes/w/poll/[userId].tsx
  frontend/src/routes/w/slider/[userId].tsx
  frontend/src/routes/w/smart-canvas/[userId].tsx
  frontend/src/routes/w/timer/[userId].tsx
  frontend/src/routes/w/topdonors/[userId].tsx
  frontend/src/routes/w/viewer-count/[userId].tsx
  lib/streampai_web/plugs/csrf_protection.ex
  lib/streampai_web/router.ex
  test/streampai_web/plugs/csrf_protection_test.exs
Due: elixir-format, frontend-format, frontend-typecheck

Refactor CSRF to use AshTypescript global hooks
  config/config.exs
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/NotificationBell.tsx
  frontend/src/components/WidgetSettingsPage.tsx
  frontend/src/components/settings/AvatarUploadSection.tsx
  frontend/src/components/settings/DonationSettingsForm.tsx
  frontend/src/components/settings/PlatformConnectionsPanel.tsx
  frontend/src/components/settings/UserRolesManagement.tsx
  frontend/src/lib/auth.tsx
  frontend/src/lib/csrf.ts
  frontend/src/lib/rpcHooks.ts
  frontend/src/lib/widget-config.ts
  frontend/src/routes/dashboard/admin/notifications.tsx
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/analytics.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/smart-canvas/[userId]/display.tsx
  frontend/src/routes/dashboard/smart-canvas/index.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/dashboard/viewers/[id].tsx
  frontend/src/routes/dashboard/viewers/index.tsx
  frontend/src/routes/u/[username].tsx
  frontend/src/routes/w/alertbox/[userId].tsx
  frontend/src/routes/w/chat/[userId].tsx
  frontend/src/routes/w/donation-goal/[userId].tsx
  frontend/src/routes/w/eventlist/[userId].tsx
  frontend/src/routes/w/follower-count/[userId].tsx
  frontend/src/routes/w/giveaway/[userId].tsx
  frontend/src/routes/w/placeholder/[userId].tsx
  frontend/src/routes/w/poll/[userId].tsx
  frontend/src/routes/w/slider/[userId].tsx
  frontend/src/routes/w/smart-canvas/[userId].tsx
  frontend/src/routes/w/timer/[userId].tsx
  frontend/src/routes/w/topdonors/[userId].tsx
  frontend/src/routes/w/viewer-count/[userId].tsx
  frontend/src/sdk/ash_rpc.ts
Due: elixir-format, frontend-format, frontend-typecheck

Add CSRF headers to impersonation endpoints
  frontend/src/lib/impersonation.tsx
Due: frontend-format, frontend-typecheck

Are we safe from CSRF attacks? If not how can we fix that? (vibe-kanban 009c37ca)
  config/config.exs
  frontend/src/lib/csrf.ts
  frontend/src/lib/impersonation.tsx
  frontend/src/lib/rpcHooks.ts
  frontend/src/routes/login.tsx
  frontend/src/sdk/ash_rpc.ts
  lib/streampai_web/plugs/csrf_protection.ex
  lib/streampai_web/router.ex
  test/streampai_web/plugs/csrf_protection_test.exs
Due: elixir-format, frontend-format, frontend-typecheck

Add integration tests for Electric SQL persistence
  frontend/src/lib/electric-persistence-e2e.test.ts
  frontend/src/lib/persisted-electric.test.ts
Due: frontend-format, frontend-typecheck

Fix language picker not showing saved preference after reload
  frontend/src/components/ui/Input.tsx
  frontend/src/i18n/index.tsx
Due: frontend-format, frontend-typecheck

Refactor: Extract shared mock-indexeddb utility
  frontend/src/lib/__test__/mock-indexeddb.ts
  frontend/src/lib/electric-cache.test.ts
  frontend/src/lib/electric-persistence-integration.test.ts
  frontend/src/lib/idb-persister.test.ts
  frontend/src/lib/persisted-electric.test.ts
Due: frontend-format, frontend-typecheck

Use persisted Electric collection for stream history, fix Admin overflow
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
Due: frontend-format, frontend-typecheck

Fix skeleton component to match 2-column layout
  frontend/src/routes/dashboard/stream-history/index.tsx
Due: frontend-format, frontend-typecheck

Add production-like frontend testing setup
  Caddyfile.prod
  Justfile
  Procfile.prod
Due: none
