Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

lefthook.yml:

# Lefthook configuration for AI-driven development
# Install: brew install lefthook && lefthook install
#
# This ensures code is always formatted before commit, preventing merge conflicts
# between AI agents and human developers.

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: mix format --check-formatted {staged_files}
      stage_fixed: true

    frontend-format:
      root: "frontend/"
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    frontend-typecheck:
      root: "frontend/"
      run: bun run typecheck
      # Only run if TypeScript files changed
      glob: "*.{ts,tsx}"

# Commit message validation (optional, helps with consistency)
commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty and has reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Empty commit message"
          exit 1
        fi
        if [ ${#msg} -lt 10 ]; then
          echo "Commit message too short (min 10 chars)"
          exit 1
        fi

Derive useOptionalLiveQuery return type from useLiveQuery
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Fix filter chip editing state preservation
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Show filter chip input text inside the partial chip
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Use nullish coalescing to preserve types in user-scoped hooks
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Maintain focus when partial chip is created
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Stream Control widget improvements (vibe-kanban 1bfe378d)
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Simplify user-scoped hooks to remove redundant early returns
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Use nullish coalescing consistently and remove type cast
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Get rid of _empty collections pattern (vibe-kanban 86458d4c)
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
  lib/streampai_web/controllers/sync_controller.ex
Due: elixir-format, frontend-format, frontend-typecheck

Fix filter text outside chip to filter message content
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Stream Control fix filter (vibe-kanban f23d33bf)
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Fix highlight test story container to respect parent height
  frontend/src/components/StreamControlsWidget.stories.tsx
Due: frontend-format, frontend-typecheck

Add Message Highlight widget for streamers to highlight chat messages
  frontend/src/components/stream/ActivityRow.tsx
  frontend/src/components/stream/types.ts
  frontend/src/components/widgetRegistry.tsx
  frontend/src/components/widgets/MessageHighlightWidget.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
  frontend/src/routes/w/message-highlight/[userId].tsx
  frontend/src/sdk/ash_rpc.ts
  lib/streampai/accounts/widget_config.ex
  lib/streampai/accounts/widget_config_defaults.ex
  lib/streampai/stream.ex
  lib/streampai/stream/highlighted_message.ex
  lib/streampai_web/controllers/sync_controller.ex
  lib/streampai_web/router.ex
  priv/repo/migrations/20251229140037_create_highlighted_messages.exs
  priv/resource_snapshots/repo/highlighted_messages/20251229140037.json
Due: elixir-format, frontend-format, frontend-typecheck

Stream Control Widget smart filters (vibe-kanban 16a8fbb5)
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Add interactive highlight test story to Storybook
  frontend/src/components/StreamControlsWidget.stories.tsx
Due: frontend-format, frontend-typecheck

Add more messages to highlight test story for scroll testing
  frontend/src/components/StreamControlsWidget.stories.tsx
Due: frontend-format, frontend-typecheck

Add highlight button to StreamControlsWidget ActivityRow
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  priv/repo/migrations/20251229140037_create_highlighted_messages.exs
Due: elixir-format, frontend-format, frontend-typecheck

Add Ash authorization policies to HighlightedMessage resource
  lib/streampai/stream/highlighted_message.ex
Due: elixir-format

Fix highlighted message to stack with other sticky items
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Update all Storybook stories to use reactive highlight callbacks
  frontend/src/components/StreamControlsWidget.stories.tsx
Due: frontend-format, frontend-typecheck

Fix highlighted message sticky positioning
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Simplify stickyStyle and fix index gap for highlighted sticky items
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Create Message Highlight widget (vibe-kanban a5b699be)
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/ActivityRow.tsx
  frontend/src/components/stream/types.ts
  frontend/src/components/widgetRegistry.tsx
  frontend/src/components/widgets/MessageHighlightWidget.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
  frontend/src/routes/w/message-highlight/[userId].tsx
  frontend/src/sdk/ash_rpc.ts
  lib/streampai/accounts/widget_config.ex
  lib/streampai/accounts/widget_config_defaults.ex
  lib/streampai/stream.ex
  lib/streampai/stream/highlighted_message.ex
  lib/streampai_web/controllers/sync_controller.ex
  lib/streampai_web/router.ex
  priv/repo/migrations/20251229140037_create_highlighted_messages.exs
  priv/resource_snapshots/repo/highlighted_messages/20251229140037.json
Due: elixir-format, frontend-format, frontend-typecheck

fix: Resolve lint errors and update documentation
  CLAUDE.md
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/dashboard/RecentStreams.tsx
  frontend/src/components/stream/ActivityFeed.tsx
  frontend/src/components/stream/ChatInput.tsx
  frontend/src/components/stream/LiveInputPreview.tsx
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/StreamSettingsForm.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/dashboard/viewers/[id].tsx
Due: frontend-format, frontend-typecheck

WIP
  .claude/agents/astrojs-expert.md
  .claude/agents/code-reviewer.md
  .claude/agents/data-analyst.md
  .claude/agents/elixir-expert.md
  .claude/agents/elixir-qa.md
  .claude/agents/postgres-expert.md
  .claude/agents/quality-engineer.md
  .claude/agents/react-expert.md
  .claude/agents/refactoring-expert.md
  .claude/agents/requirements-analyst.md
  .claude/agents/root-cause-analyst.md
  .claude/agents/security-engineer.md
  .claude/agents/system-architect.md
  .claude/agents/tailwind-expert.md
  .claude/agents/technical-writer.md
  .claude/settings.local.json
  .claude/skills/commit/SKILL.md
  .claude/skills/document/SKILL.md
  .claude/skills/elixir-genius/SKILL.md
  .claude/skills/review-work/SKILL.md
  .claude/skills/understand/SKILL.md
  docs/livestream-architecture.md
  frontend/src/components/stream/ActivityRow.tsx
  lib/streampai/livestream_manager/platforms/facebook_manager.ex
  lib/streampai/livestream_manager/platforms/instagram_manager.ex
  lib/streampai/livestream_manager/platforms/kick_manager.ex
  lib/streampai/livestream_manager/platforms/rumble_manager.ex
  lib/streampai/livestream_manager/platforms/tiktok_manager.ex
  lib/streampai/livestream_manager/platforms/trovo_manager.ex
  lib/streampai/livestream_manager/platforms/twitch_manager.ex
  lib/streampai/livestream_manager/platforms/youtube_manager.ex
  lib/streampai/livestream_manager/stream_manager/platform_coordinator.ex
  lib/streampai/livestream_manager/stream_services.ex
  lib/streampai/stream/current_stream_data.ex
  lib/streampai/stream/event_persister.ex
  lib/streampai/stream/stream_action.ex
  lib/streampai/twitch/eventsub_client.ex
  lib/streampai/twitch/irc_client.ex
  lib/streampai_web/channels/presence_channel.ex
Due: elixir-format, frontend-format, frontend-typecheck

refactor: Extract StubManager macro and consolidate frontend widgets
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/lib/useElectric.ts
  frontend/src/lib/widget-registry.tsx
  lib/streampai/livestream_manager/platforms/facebook_manager.ex
  lib/streampai/livestream_manager/platforms/instagram_manager.ex
  lib/streampai/livestream_manager/platforms/rumble_manager.ex
  lib/streampai/livestream_manager/platforms/stub_manager.ex
  lib/streampai/livestream_manager/platforms/tiktok_manager.ex
  lib/streampai/livestream_manager/platforms/trovo_manager.ex
Due: elixir-format, frontend-format, frontend-typecheck

refactor: Extract shared PlatformHelpers and createWidgetRoute factory
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/lib/createWidgetRoute.tsx
  frontend/src/routes/w/alertbox/[userId].tsx
  frontend/src/routes/w/chat/[userId].tsx
  frontend/src/routes/w/donation-goal/[userId].tsx
  frontend/src/routes/w/eventlist/[userId].tsx
  frontend/src/routes/w/follower-count/[userId].tsx
  frontend/src/routes/w/giveaway/[userId].tsx
  frontend/src/routes/w/placeholder/[userId].tsx
  frontend/src/routes/w/poll/[userId].tsx
  frontend/src/routes/w/slider/[userId].tsx
  frontend/src/routes/w/timer/[userId].tsx
  frontend/src/routes/w/topdonors/[userId].tsx
  lib/streampai/livestream_manager/platform_helpers.ex
  lib/streampai/livestream_manager/platforms/kick_manager.ex
  lib/streampai/livestream_manager/platforms/twitch_manager.ex
  lib/streampai/livestream_manager/platforms/youtube_manager.ex
Due: elixir-format, frontend-format, frontend-typecheck

refactor: Unify public page nav, theme-aware logos, and remove card borders
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/PublicFooter.tsx
  frontend/src/components/PublicHeader.tsx
  frontend/src/components/dashboard/RecentChat.tsx
  frontend/src/routes/[...404].tsx
  frontend/src/routes/about.tsx
  frontend/src/routes/contact.tsx
  frontend/src/routes/dashboard/admin/support.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/privacy.tsx
  frontend/src/routes/support.tsx
  frontend/src/routes/terms.tsx
Due: frontend-format, frontend-typecheck

style: Add texture and gradient blobs to landing page backgrounds
  frontend/src/routes/index.tsx
Due: frontend-format, frontend-typecheck

fix: Resolve biome lint errors and fix frontend formatting
  frontend/biome.json
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/PublicFooter.tsx
  frontend/src/components/PublicHeader.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/dashboard/RecentChat.tsx
  frontend/src/routes/contact.tsx
  frontend/src/routes/dashboard/scenes/index.tsx
  frontend/src/routes/dashboard/widgets/index.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/privacy.tsx
  frontend/src/routes/support.tsx
  frontend/src/routes/terms.tsx
Due: frontend-format, frontend-typecheck

WIP
  .github/workflows/test_and_deploy.yml
  frontend/biome.json
  frontend/package.json
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/components/stream/ActivityRow.tsx
  frontend/src/router.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/widgets/index.tsx
  frontend/src/routes/index.tsx
  frontend/vite.config.ts
Due: frontend-format, frontend-typecheck

WIP
  priv/repo/migrations/20260130112525_t.exs
  priv/repo/migrations/20260205095530_update_chatbot_command_prefix_default.exs
Due: elixir-format

fix: Update bun.lock after TanStack Start migration
  frontend/bun.lock
Due: none

fix: Exclude routeTree.gen.ts from biome formatter
  frontend/biome.json
Due: frontend-format
