Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

lefthook.yml:

# Lefthook configuration for AI-driven development
# Install: brew install lefthook && lefthook install
#
# This ensures code is always formatted before commit, preventing merge conflicts
# between AI agents and human developers.

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: mix format --check-formatted {staged_files}
      stage_fixed: true

    frontend-format:
      root: "frontend/"
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    frontend-typecheck:
      root: "frontend/"
      run: bun run typecheck
      # Only run if TypeScript files changed
      glob: "*.{ts,tsx}"

# Commit message validation (optional, helps with consistency)
commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty and has reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Empty commit message"
          exit 1
        fi
        if [ ${#msg} -lt 10 ]; then
          echo "Commit message too short (min 10 chars)"
          exit 1
        fi

Add ThemeGenerator component with color derivation from primary color
  frontend/src/components/ThemeGenerator.stories.tsx
  frontend/src/components/ThemeGenerator.tsx
Due: frontend-format, frontend-typecheck

Fix PublicFooter theme compatibility for light/dark modes
  frontend/src/components/PublicFooter.tsx
Due: frontend-format, frontend-typecheck

Fix footer layout and make dashboard preview interactive
  frontend/src/components/PublicFooter.tsx
  frontend/src/components/ThemeGenerator.stories.tsx
Due: frontend-format, frontend-typecheck

Add theme toggle icon to landing page navigation
  frontend/src/components/ThemeSwitcher.tsx
  frontend/src/routes/index.tsx
Due: frontend-format, frontend-typecheck

Reorganize footer layout and move theme toggle to footer
  frontend/src/components/PublicFooter.tsx
  frontend/src/routes/index.tsx
Due: frontend-format, frontend-typecheck

Fix theme toggle and logo visibility in light mode
  frontend/src/app.css
  frontend/src/components/PublicFooter.tsx
  frontend/src/components/ThemeSwitcher.tsx
  frontend/src/lib/theme.tsx
Due: frontend-format, frontend-typecheck

WIP
  flake.nix
Due: none

Add lefthook install to worktree-setup
  Justfile
Due: none

Add AI-driven development improvements (#87)
  .github/workflows/elixir.yml
  CLAUDE.md
  Justfile
  flake.nix
  frontend/src/i18n/locales/locales.test.ts
  lefthook.yml
Due: frontend-format, frontend-typecheck

See what places in the system could start using our SchemaForm and start using it there (vibe-kanban 878e7781)
  frontend/src/lib/schema-form/SchemaForm.stories.tsx
  frontend/src/lib/schema-form/SchemaForm.tsx
  frontend/src/lib/schema-form/fields/SelectField.tsx
  frontend/src/lib/schema-form/index.ts
  frontend/src/lib/schema-form/types.ts
  frontend/src/lib/schema-form/widget-schemas.ts
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/sdk/ash_rpc.ts
Due: frontend-format, frontend-typecheck

Fix Justfile
  Justfile
Due: none

Add ML/AI analysis feature plan for Streampai
  docs/ML_AI_ANALYSIS_PLAN.md
Due: none

Fix TypeScript type checking errors across frontend
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/ui/Button.stories.tsx
  frontend/src/components/ui/Input.stories.tsx
  frontend/src/components/ui/Stat.stories.tsx
  frontend/src/components/widgets/AlertboxWidget.stories.tsx
  frontend/src/components/widgets/GiveawayWidget.stories.tsx
  frontend/src/components/widgets/PollWidget.stories.tsx
  frontend/src/components/widgets/TimerWidget.stories.tsx
  frontend/src/lib/electric.ts
  frontend/src/lib/schema-form/SchemaForm.stories.tsx
  frontend/src/lib/schema-form/fields/SelectField.tsx
  frontend/src/lib/socket.ts
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/w/donation-goal/[userId].tsx
  frontend/src/routes/widgets/alertbox/obs.tsx
Due: frontend-format, frontend-typecheck

Fix TypeScript type checking errors across frontend (#89)
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/ui/Button.stories.tsx
  frontend/src/components/ui/Input.stories.tsx
  frontend/src/components/ui/Stat.stories.tsx
  frontend/src/components/widgets/AlertboxWidget.stories.tsx
  frontend/src/components/widgets/GiveawayWidget.stories.tsx
  frontend/src/components/widgets/PollWidget.stories.tsx
  frontend/src/components/widgets/TimerWidget.stories.tsx
  frontend/src/lib/electric.ts
  frontend/src/lib/schema-form/SchemaForm.stories.tsx
  frontend/src/lib/schema-form/fields/SelectField.tsx
  frontend/src/lib/socket.ts
  frontend/src/routes/dashboard/admin/users.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/w/donation-goal/[userId].tsx
  frontend/src/routes/widgets/alertbox/obs.tsx
Due: frontend-format, frontend-typecheck

Fix all Biome linting issues in frontend
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/StreamingAccountStats.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/lib/electric.ts
  frontend/src/lib/schema-form/introspect.ts
  frontend/src/lib/widget-registry.tsx
  frontend/src/routes/dashboard/admin/notifications.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/dashboard/viewers/index.tsx
  frontend/src/routes/widgets/alertbox/obs.tsx
Due: frontend-format, frontend-typecheck

I've completed all the tasks. Here's a summary:
  .github/workflows/elixir.yml
  cdk/package.json
  frontend/package.json
  lefthook.yml
Due: frontend-format

fix lefthook issues
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
Due: frontend-format, frontend-typecheck

fix all bunx biome check issues in FE folder (vibe-kanban a0dbef7c)
  .github/workflows/elixir.yml
  cdk/package.json
  frontend/package.json
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/StreamingAccountStats.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/lib/electric.ts
  frontend/src/lib/schema-form/introspect.ts
  frontend/src/lib/widget-registry.tsx
  frontend/src/routes/dashboard/admin/notifications.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/dashboard/viewers/index.tsx
  frontend/src/routes/widgets/alertbox/obs.tsx
  lefthook.yml
Due: frontend-format, frontend-typecheck

Fix SelectField value not syncing with async data from Electric
  frontend/src/lib/schema-form/fields/SelectField.tsx
Due: frontend-format, frontend-typecheck

Widget Settings Animation Type not populated correctly (vibe-kanban 9fd50179)
  frontend/src/lib/schema-form/fields/SelectField.tsx
Due: frontend-format, frontend-typecheck

Localize stream page placeholder strings
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/stream.tsx
Due: frontend-format, frontend-typecheck

Delete commented-out viewer_test.exs
  test/streampai/stream/viewer_test.exs
Due: elixir-format

Move Storage.File resource to proper Storage domain
  config/config.exs
  frontend/src/sdk/ash_rpc.ts
  lib/streampai/storage.ex
  lib/streampai/storage/file.ex
  lib/streampai/stream.ex
Due: elixir-format, frontend-format, frontend-typecheck

Localize hardcoded strings in admin notifications page
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/admin/notifications.tsx
Due: frontend-format, frontend-typecheck

Refactor dashboard into smaller components
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardQuickActions.tsx
  frontend/src/components/dashboard/DashboardSkeletons.tsx
  frontend/src/components/dashboard/QuickActionsPanel.tsx
  frontend/src/components/dashboard/QuickStats.tsx
  frontend/src/components/dashboard/RecentChat.tsx
  frontend/src/components/dashboard/RecentEvents.tsx
  frontend/src/components/dashboard/RecentStreams.tsx
  frontend/src/components/dashboard/StreamGoalsTracker.tsx
  frontend/src/components/dashboard/StreamHealthMonitor.tsx
  frontend/src/components/dashboard/ViewerEngagementScore.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/routes/dashboard/index.tsx
Due: frontend-format, frontend-typecheck

Refactor settings.tsx into separate section components
  frontend/src/components/settings/AvatarUploadSection.tsx
  frontend/src/components/settings/DonationSettingsForm.tsx
  frontend/src/components/settings/PlatformConnectionsPanel.tsx
  frontend/src/components/settings/UserRolesManagement.tsx
  frontend/src/components/settings/index.ts
  frontend/src/routes/dashboard/settings.tsx
Due: frontend-format, frontend-typecheck

Refactor analytics.tsx by extracting chart components
  frontend/src/components/analytics/AnalyticsSkeleton.tsx
  frontend/src/components/analytics/PlatformDistributionChart.tsx
  frontend/src/components/analytics/StreamTable.tsx
  frontend/src/components/analytics/ViewerChart.tsx
  frontend/src/components/analytics/index.ts
  frontend/src/routes/dashboard/analytics.tsx
Due: frontend-format, frontend-typecheck

Implement widget registry pattern in SmartCanvasWidgetRenderer
  frontend/src/components/SmartCanvasWidgetRenderer.tsx
  frontend/src/components/widgetRegistry.tsx
Due: frontend-format, frontend-typecheck

[LOW][I18N] Localize hardcoded strings in dashboard stream page (vibe-kanban 42f00627)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/stream.tsx
Due: frontend-format, frontend-typecheck

[LOW][I18N] Localize hardcoded strings in admin notifications page (vibe-kanban c6832b01)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/admin/notifications.tsx
Due: frontend-format, frontend-typecheck

[LOW][REFACTOR] Implement widget registry pattern in SmartCanvasWidgetRenderer (vibe-kanban 15633964)
  frontend/src/components/SmartCanvasWidgetRenderer.tsx
  frontend/src/components/widgetRegistry.tsx
Due: frontend-format, frontend-typecheck

[MEDIUM][REFACTOR] Split analytics.tsx into chart components (vibe-kanban c59dbde0)
  frontend/src/components/analytics/AnalyticsSkeleton.tsx
  frontend/src/components/analytics/PlatformDistributionChart.tsx
  frontend/src/components/analytics/StreamTable.tsx
  frontend/src/components/analytics/ViewerChart.tsx
  frontend/src/components/analytics/index.ts
  frontend/src/routes/dashboard/analytics.tsx
Due: frontend-format, frontend-typecheck

[HIGH][REFACTOR] Split dashboard/index.tsx into smaller components (vibe-kanban 0f34f07e)
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardQuickActions.tsx
  frontend/src/components/dashboard/DashboardSkeletons.tsx
  frontend/src/components/dashboard/QuickActionsPanel.tsx
  frontend/src/components/dashboard/QuickStats.tsx
  frontend/src/components/dashboard/RecentChat.tsx
  frontend/src/components/dashboard/RecentEvents.tsx
  frontend/src/components/dashboard/RecentStreams.tsx
  frontend/src/components/dashboard/StreamGoalsTracker.tsx
  frontend/src/components/dashboard/StreamHealthMonitor.tsx
  frontend/src/components/dashboard/ViewerEngagementScore.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/routes/dashboard/index.tsx
Due: frontend-format, frontend-typecheck

[HIGH][REFACTOR] Split dashboard/settings.tsx into separate sections (vibe-kanban dbb5dd4b)
  frontend/src/components/settings/AvatarUploadSection.tsx
  frontend/src/components/settings/DonationSettingsForm.tsx
  frontend/src/components/settings/PlatformConnectionsPanel.tsx
  frontend/src/components/settings/UserRolesManagement.tsx
  frontend/src/components/settings/index.ts
  frontend/src/routes/dashboard/settings.tsx
Due: frontend-format, frontend-typecheck

[CRITICAL][ARCH] Move Storage.File resource to proper Storage domain (vibe-kanban c39516c9)
  config/config.exs
  frontend/src/sdk/ash_rpc.ts
  lib/streampai/storage.ex
  lib/streampai/storage/file.ex
  lib/streampai/stream.ex
Due: elixir-format, frontend-format, frontend-typecheck

[HIGH][TEST] Delete or uncomment viewer_test.exs (vibe-kanban cdbfd672)
  test/streampai/stream/viewer_test.exs
Due: elixir-format

[LOW][I18N] Localize hardcoded strings in chat-history page
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/chat-history.tsx
Due: frontend-format, frontend-typecheck

[LOW][TEST] Replace Process.sleep() with proper async testing patterns
  test/streampai/accounts/user_test.exs
  test/streampai/livestream_manager/alert_queue_test.exs
  test/streampai/stream/stream_action_test.exs
  test/support/test_helpers.ex
Due: elixir-format

Add Code Quality Reviewer agent
  .claude/agents/code-quality-reviewer.md
Due: none

[HIGH][REFACTOR] Split StreamControlsWidget.tsx into smaller components
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/ActivityRow.tsx
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/PostStreamSummary.tsx
  frontend/src/components/stream/PreStreamSettings.tsx
  frontend/src/components/stream/StreamActionsPanel.tsx
  frontend/src/components/stream/TimersPanel.tsx
  frontend/src/components/stream/index.ts
  frontend/src/components/stream/types.ts
Due: frontend-format, frontend-typecheck
