Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

lefthook.yml:

# Lefthook configuration for AI-driven development
# Install: brew install lefthook && lefthook install
#
# This ensures code is always formatted before commit, preventing merge conflicts
# between AI agents and human developers.

pre-commit:
  parallel: true
  commands:
    elixir-format:
      glob: "*.{ex,exs}"
      run: mix format --check-formatted {staged_files}
      stage_fixed: true

    frontend-format:
      root: "frontend/"
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

    frontend-typecheck:
      root: "frontend/"
      run: bun run typecheck
      # Only run if TypeScript files changed
      glob: "*.{ts,tsx}"

# Commit message validation (optional, helps with consistency)
commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty and has reasonable length
        msg=$(cat {1})
        if [ -z "$msg" ]; then
          echo "Empty commit message"
          exit 1
        fi
        if [ ${#msg} -lt 10 ]; then
          echo "Commit message too short (min 10 chars)"
          exit 1
        fi

Fix duplicate key error when Electric sync conflicts with cache hydration
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Implement timeout_user, ban_user, and unban_user in PlatformSupervisor
  lib/streampai/livestream_manager/platform_supervisor.ex
  lib/streampai/stream/stream_action.ex
  test/streampai/stream/stream_action_test.exs
Due: elixir-format

Fix deployment
  Dockerfile
  cdk/src/main.ts
  docker-compose.prod.yml
  lib/streampai_web/endpoint.ex
  mix.exs
Due: elixir-format

Address code review feedback
  lib/streampai/livestream_manager/platform_supervisor.ex
Due: elixir-format

Add custom branded 404 page with cute monitor illustration
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/[...404].tsx
Due: frontend-format, frontend-typecheck

Fix deployment
  .github/workflows/test_and_deploy.yml
  Dockerfile
  cdk/src/main.ts
  docker-compose.prod.yml
  lib/streampai_web/endpoint.ex
  mix.exs
Due: elixir-format

Create custom and cute NOT FOUND page (vibe-kanban 791d3248)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/[...404].tsx
Due: frontend-format, frontend-typecheck

Move emails to Jobs system and add Resend configuration
  .github/workflows/test_and_deploy.yml
  config/config.exs
  config/runtime.exs
  docker-compose.prod.yml
  lib/streampai/accounts/user/senders/send_new_user_confirmation_email.ex
  lib/streampai/emails.ex
  lib/streampai/emails/templates.ex
  lib/streampai/jobs/email_job.ex
  lib/streampai/mailer.ex
Due: elixir-format

Fix redirect URLs
  config/dev.exs
  config/runtime.exs
  lib/streampai_web/controllers/auth_controller.ex
  lib/streampai_web/controllers/impersonation_controller.ex
  lib/streampai_web/controllers/paypal_callback_controller.ex
  lib/streampai_web/controllers/streaming_controller.ex
Due: elixir-format

Fix favicon
  frontend/public/favicon.ico
  frontend/public/favicon.svg
Due: none

Remove custom Electric shapes persistence implementation
  docs/research/electric-sql-persistence.md
  frontend/src/lib/electric-cache.test.ts
  frontend/src/lib/electric-cache.ts
  frontend/src/lib/electric.ts
  frontend/src/lib/idb-persister.test.ts
  frontend/src/lib/idb-persister.ts
  frontend/src/lib/persisted-electric.test.ts
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Make username use case insensitive type
  lib/streampai/accounts/user.ex
  priv/repo/migrations/20251229161034_change_name_to_ci_string.exs
  priv/resource_snapshots/repo/users/20251229161034.json
Due: elixir-format

Get rid of Electric shapes persistance
  docs/research/electric-sql-persistence.md
  frontend/src/lib/electric-cache.test.ts
  frontend/src/lib/electric-cache.ts
  frontend/src/lib/electric.ts
  frontend/src/lib/idb-persister.test.ts
  frontend/src/lib/idb-persister.ts
  frontend/src/lib/persisted-electric.test.ts
  frontend/src/lib/persisted-electric.ts
Due: frontend-format, frontend-typecheck

Fix invalid synced shape issue
  frontend/src/lib/electric.ts
  lib/streampai_web/controllers/sync_controller.ex
  lib/streampai_web/router.ex
Due: elixir-format, frontend-format, frontend-typecheck

Fix failing elixir tests
  .github/workflows/test_and_deploy.yml
  lib/streampai/accounts/user/changes/validate_and_check_name_uniqueness.ex
  test/streampai/accounts/default_username_test.exs
  test/streampai/accounts/user_test.exs
Due: elixir-format

Bring back empty user preferences collection
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
  lib/streampai_web/controllers/sync_controller.ex
Due: elixir-format, frontend-format, frontend-typecheck

Implement Alertbox TTS with Phoenix Channel integration
  frontend/src/components/widgets/AlertboxWidget.tsx
  frontend/src/lib/socket.ts
  frontend/src/routes/w/alertbox/[userId].tsx
  lib/streampai/livestream_manager/alert_queue.ex
  lib/streampai/livestream_manager/dynamic_supervisor.ex
  lib/streampai_web/channels/alertbox_channel.ex
  lib/streampai_web/channels/user_socket.ex
Due: elixir-format, frontend-format, frontend-typecheck

Load AlertManager settings from WidgetConfig
  lib/streampai/accounts/widget_config_defaults.ex
  lib/streampai/livestream_manager/alert_manager.ex
Due: elixir-format

Add PubSub broadcast for WidgetConfig updates
  lib/streampai/accounts/widget_config.ex
  lib/streampai/accounts/widget_config/changes/broadcast_config_update.ex
  lib/streampai/livestream_manager/alert_manager.ex
Due: elixir-format

Move emails to Jobs system and add Resend configuration
  config/runtime.exs
Due: elixir-format

Refactor AlertManager to use Phoenix.Sync.Shape instead of PubSub
  lib/streampai/accounts/widget_config.ex
  lib/streampai/accounts/widget_config/changes/broadcast_config_update.ex
  lib/streampai/livestream_manager/alert_manager.ex
Due: elixir-format

Add screenshots of landing page and login screen
  docs/screenshots/landing-page.png
  docs/screenshots/login-screen.png
Due: none

Address code review feedback for Phoenix.Sync.Shape integration
  lib/streampai/livestream_manager/alert_manager.ex
Due: elixir-format

Remove redundant comments from AlertManager
  lib/streampai/livestream_manager/alert_manager.ex
Due: elixir-format

[LOW][TECH-DEBT] Load AlertManager settings from WidgetConfig TODO (vibe-kanban 086e4b62)
  config/runtime.exs
  lib/streampai/accounts/widget_config_defaults.ex
  lib/streampai/livestream_manager/alert_manager.ex
Due: elixir-format

Add smart filters to Stream Control Widget activity search
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/types.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

Fix smart filters in StreamControlsWidget - use parseSmartFilters
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/smartFilters.test.ts
Due: frontend-format, frontend-typecheck

Add click-to-toggle user filter on activity usernames
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Stream Control Widget smart filters (vibe-kanban 16a8fbb5)
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/smartFilters.test.ts
  frontend/src/components/stream/types.ts
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

Improve Stream Control Widget filter UX
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck

Remove _empty collections pattern - avoid backend calls when userId missing
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
  lib/streampai_web/controllers/sync_controller.ex
Due: elixir-format, frontend-format, frontend-typecheck

Add useOptionalLiveQuery wrapper for user-scoped hooks
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Simplify: use useLiveQuery directly instead of wrapper
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Use useOptionalLiveQuery consistently for all user-scoped hooks
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Use undefined fallback instead of emptyCollection for user-scoped hooks
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Use consistent createCollectionCache for streaming accounts
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Use useOptionalLiveQuery wrapper instead of any casts
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Use emptyCollection pattern for user-scoped hooks
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Derive useOptionalLiveQuery return type from useLiveQuery
  frontend/src/lib/useElectric.ts
Due: frontend-format, frontend-typecheck

Address code review feedback
  frontend/src/components/StreamControlsWidget.tsx
Due: frontend-format, frontend-typecheck
