Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

elixir-format:
  run: mix format --check-formatted {staged_files}
  stage_fixed: true

frontend-format:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

frontend-typecheck:
  run: bun run typecheck

[LOW][TEST] Replace Process.sleep() with proper async testing (vibe-kanban 1d9d3cf3)
  test/streampai/accounts/user_test.exs
  test/streampai/livestream_manager/alert_queue_test.exs
  test/streampai/stream/stream_action_test.exs
  test/support/test_helpers.ex
Due: elixir-format

[LOW][I18N] Localize hardcoded strings in chat-history page (vibe-kanban db49a049)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/chat-history.tsx
Due: frontend-format, frontend-typecheck

[HIGH][REFACTOR] Split StreamControlsWidget.tsx into smaller components (vibe-kanban f0d0b856)
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/ActivityRow.tsx
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/PostStreamSummary.tsx
  frontend/src/components/stream/PreStreamSettings.tsx
  frontend/src/components/stream/StreamActionsPanel.tsx
  frontend/src/components/stream/TimersPanel.tsx
  frontend/src/components/stream/index.ts
  frontend/src/components/stream/types.ts
Due: frontend-format, frontend-typecheck

[LOW][I18N] Localize hardcoded strings in dashboard viewers page (vibe-kanban 9b5772c2)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/dashboard/viewers/index.tsx
Due: frontend-format, frontend-typecheck

Delete placeholder integration tests that only assert true
  test/streampai/livestream_manager/user_stream_manager_integration_test.exs
Due: elixir-format

[HIGH][TEST] Delete or implement user_stream_manager_integration_test.exs (vibe-kanban 03df3836)
  test/streampai/livestream_manager/user_stream_manager_integration_test.exs
Due: elixir-format

[MEDIUM][I18N] Localize hardcoded placeholder strings in donation page
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/u/[username].tsx
Due: frontend-format, frontend-typecheck

[MEDIUM][I18N] Localize hardcoded placeholder strings in StreamControlsWidget
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/PreStreamSettings.tsx
  frontend/src/components/stream/TimersPanel.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

[MEDIUM][I18N] Localize hardcoded placeholder strings in StreamControlsWidget (vibe-kanban 55bac798)
  frontend/src/components/stream/LiveStreamControlCenter.tsx
  frontend/src/components/stream/PreStreamSettings.tsx
  frontend/src/components/stream/TimersPanel.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

[MEDIUM][I18N] Localize hardcoded placeholder strings in donation page (vibe-kanban 3b03ad2e)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/u/[username].tsx
Due: frontend-format, frontend-typecheck

Debounce sticky item computation in StreamControlsWidget
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/LiveStreamControlCenter.tsx
Due: frontend-format, frontend-typecheck

[HIGH][AUTH] Create SystemActor for webhook and background job authorization
  lib/streampai/accounts/user.ex
  lib/streampai/cloudflare/live_input.ex
  lib/streampai/integrations/discord_webhook.ex
  lib/streampai/integrations/donation.ex
  lib/streampai/integrations/ifttt_webhook.ex
  lib/streampai/jobs/discord_notification_job.ex
  lib/streampai/jobs/ifttt_notification_job.ex
  lib/streampai/system_actor.ex
  lib/streampai/system_actor/check.ex
  lib/streampai_web/controllers/cloudflare_webhook_controller.ex
  lib/streampai_web/controllers/paypal_callback_controller.ex
  lib/streampai_web/controllers/paypal_webhook_controller.ex
Due: elixir-format

[LOW][REFACTOR] Create shared SetUserIdFromActor Ash change module
  lib/streampai/accounts/smart_canvas_layout.ex
  lib/streampai/accounts/widget_config.ex
  lib/streampai/changes/set_user_id_from_actor.ex
Due: elixir-format

use debounce
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/components/stream/LiveStreamControlCenter.tsx
Due: frontend-format, frontend-typecheck

[LOW][REFACTOR] Create shared SetUserIdFromActor Ash change module (vibe-kanban fa23cbb8)
  lib/streampai/accounts/smart_canvas_layout.ex
  lib/streampai/accounts/widget_config.ex
  lib/streampai/changes/set_user_id_from_actor.ex
Due: elixir-format

[HIGH][AUTH] Create SystemActor for webhook and background job authorization (vibe-kanban 1249583e)
  lib/streampai/accounts/user.ex
  lib/streampai/cloudflare/live_input.ex
  lib/streampai/integrations/discord_webhook.ex
  lib/streampai/integrations/donation.ex
  lib/streampai/integrations/ifttt_webhook.ex
  lib/streampai/jobs/discord_notification_job.ex
  lib/streampai/jobs/ifttt_notification_job.ex
  lib/streampai/system_actor.ex
  lib/streampai/system_actor/check.ex
  lib/streampai_web/controllers/cloudflare_webhook_controller.ex
  lib/streampai_web/controllers/paypal_callback_controller.ex
  lib/streampai_web/controllers/paypal_webhook_controller.ex
Due: elixir-format

[MEDIUM][I18N] Localize hardcoded placeholder strings in login.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/login.tsx
Due: frontend-format, frontend-typecheck

[MEDIUM][ASH] Extract StreamActor inline changes to reusable modules
  lib/streampai/stream/stream_actor.ex
  lib/streampai/stream/stream_actor/changes/initialize_data.ex
  lib/streampai/stream/stream_actor/changes/set_error_state.ex
  lib/streampai/stream/stream_actor/changes/set_stopped_state.ex
  lib/streampai/stream/stream_actor/changes/set_streaming_state.ex
  lib/streampai/stream/stream_actor/changes/update_data.ex
  lib/streampai/stream/stream_actor/changes/update_viewers.ex
  test/streampai/stream/stream_actor/changes/initialize_data_test.exs
  test/streampai/stream/stream_actor/changes/set_error_state_test.exs
  test/streampai/stream/stream_actor/changes/set_stopped_state_test.exs
  test/streampai/stream/stream_actor/changes/set_streaming_state_test.exs
  test/streampai/stream/stream_actor/changes/update_data_test.exs
  test/streampai/stream/stream_actor/changes/update_viewers_test.exs
Due: elixir-format

[MEDIUM][I18N] Localize hardcoded placeholder strings in login.tsx (vibe-kanban fc3e9d3c)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/login.tsx
Due: frontend-format, frontend-typecheck

[MEDIUM][ASH] Extract DiscordActor inline changes to modules
  lib/streampai/integrations/discord_actor.ex
  lib/streampai/integrations/discord_actor/changes/increment_messages_sent.ex
  lib/streampai/integrations/discord_actor/changes/initialize_data.ex
  lib/streampai/integrations/discord_actor/changes/merge_data_from_arguments.ex
  lib/streampai/integrations/discord_actor/changes/update_connection_status.ex
  lib/streampai/integrations/discord_actor/changes/update_guilds_and_channels.ex
  test/streampai/integrations/discord_actor/changes_test.exs
Due: elixir-format

[MEDIUM][TEST] Enable skipped tests in stream_action_test.exs
  test/streampai/stream/stream_action_test.exs
Due: elixir-format

Add integration tests for InitializeData with set_user_id option
  test/streampai/stream/stream_actor/changes/initialize_data_test.exs
Due: elixir-format

[MEDIUM][TEST] Enable skipped tests in stream_action_test.exs (vibe-kanban 8adf9862)
  test/streampai/stream/stream_action_test.exs
Due: elixir-format

[MEDIUM][ASH] Extract StreamActor inline changes to module (vibe-kanban 6fcb8fd2)
  lib/streampai/stream/stream_actor.ex
  lib/streampai/stream/stream_actor/changes/initialize_data.ex
  lib/streampai/stream/stream_actor/changes/set_error_state.ex
  lib/streampai/stream/stream_actor/changes/set_stopped_state.ex
  lib/streampai/stream/stream_actor/changes/set_streaming_state.ex
  lib/streampai/stream/stream_actor/changes/update_data.ex
  lib/streampai/stream/stream_actor/changes/update_viewers.ex
  test/streampai/stream/stream_actor/changes/initialize_data_test.exs
  test/streampai/stream/stream_actor/changes/set_error_state_test.exs
  test/streampai/stream/stream_actor/changes/set_stopped_state_test.exs
  test/streampai/stream/stream_actor/changes/set_streaming_state_test.exs
  test/streampai/stream/stream_actor/changes/update_data_test.exs
  test/streampai/stream/stream_actor/changes/update_viewers_test.exs
Due: elixir-format

[MEDIUM][ASH] Extract DiscordActor inline changes to module (vibe-kanban 4dde1519)
  lib/streampai/integrations/discord_actor.ex
  lib/streampai/integrations/discord_actor/changes/increment_messages_sent.ex
  lib/streampai/integrations/discord_actor/changes/initialize_data.ex
  lib/streampai/integrations/discord_actor/changes/merge_data_from_arguments.ex
  lib/streampai/integrations/discord_actor/changes/update_connection_status.ex
  lib/streampai/integrations/discord_actor/changes/update_guilds_and_channels.ex
  test/streampai/integrations/discord_actor/changes_test.exs
Due: elixir-format

[MEDIUM][REFACTOR] Extract DashboardLayout navigation to separate components
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/components/dashboard/navConfig.tsx
Due: frontend-format, frontend-typecheck

Fix code review issues in navigation components
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/components/dashboard/navConfig.tsx
Due: frontend-format, frontend-typecheck

[MEDIUM][REFACTOR] Extract DashboardLayout navigation to separate components (vibe-kanban 7ea140ad)
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/components/dashboard/navConfig.tsx
Due: frontend-format, frontend-typecheck

Electric SQL persistance (vibe-kanban 35ddc588)
  docs/research/electric-sql-persistence.md
Due: none

[MEDIUM][FEATURE] Add stream settings panel to StreamControlsWidget
  frontend/.storybook/preview.tsx
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

[MEDIUM][FEATURE] Create IDBPersister utility class for IndexedDB persistence
  frontend/src/lib/idb-persister.test.ts
  frontend/src/lib/idb-persister.ts
Due: frontend-format, frontend-typecheck

Add breadcrumbs navigation to dashboard nested sections
  frontend/src/components/ui/Breadcrumbs.tsx
  frontend/src/components/ui/index.ts
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/viewers/[id].tsx
  frontend/src/routes/dashboard/widgets/[slug].tsx
Due: frontend-format, frontend-typecheck

Refactor breadcrumbs to use context-based stack approach
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/ui/Breadcrumbs.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/BreadcrumbContext.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/viewers/[id].tsx
  frontend/src/routes/dashboard/widgets/[slug].tsx
Due: frontend-format, frontend-typecheck

[MEDIUM][FEATURE] Add thumbnail upload to stream settings with 2-step upload
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/schema-form/SchemaForm.tsx
  frontend/src/lib/schema-form/fields/ImageUploadField.tsx
  frontend/src/lib/schema-form/fields/index.ts
  frontend/src/lib/schema-form/types.ts
Due: frontend-format, frontend-typecheck

Change default maxAge from 24h to null (never expires)
  frontend/src/lib/idb-persister.test.ts
  frontend/src/lib/idb-persister.ts
Due: frontend-format, frontend-typecheck

Add stream settings panel to StreamControlsWidget (#116)
  frontend/.storybook/preview.tsx
  frontend/src/components/StreamControlsWidget.stories.tsx
  frontend/src/components/StreamControlsWidget.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/schema-form/SchemaForm.tsx
  frontend/src/lib/schema-form/fields/ImageUploadField.tsx
  frontend/src/lib/schema-form/fields/index.ts
  frontend/src/lib/schema-form/types.ts
Due: frontend-format, frontend-typecheck

[LOW][I18N] Localize hardcoded strings in chat-history page (vibe-kanban db49a049)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

[LOW][I18N] Localize hardcoded strings in dashboard viewers page (vibe-kanban 9b5772c2)
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
Due: frontend-format, frontend-typecheck

Path conditions:
  elixir-format: any of: *.{ex,exs}
  frontend-format: any of: *.{ts,tsx,js,jsx,json,css} and ^frontend/
  frontend-typecheck: any of: *.{ts,tsx} and ^frontend/
