Repository nxy7/streampai-elixir: changes, and which lefthook commands are due for each by the changed paths.
All: elixir-format, frontend-format, frontend-typecheck

elixir-format:
  run: mix format --check-formatted {staged_files}
  stage_fixed: true

frontend-format:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

frontend-typecheck:
  run: bun run typecheck

fix: Properly ignore routeTree.gen.ts in biome config
  frontend/biome.json
Due: frontend-format

fix: Import JSX type in root route
  frontend/src/routes/__root.tsx
Due: frontend-format, frontend-typecheck

refactor: Migrate raw HTML form elements to design system components
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/settings/DonationSettingsForm.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/routes/contact.tsx
  frontend/src/routes/dashboard/admin/support.tsx
  frontend/src/routes/dashboard/analytics.tsx
  frontend/src/routes/dashboard/scenes/index.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/stream-history/index.tsx
  frontend/src/routes/dashboard/tools/chatbot.tsx
  frontend/src/routes/dashboard/tools/clips/index.tsx
  frontend/src/routes/dashboard/tools/timers.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/privacy.tsx
  frontend/src/routes/support.tsx
  frontend/src/routes/terms.tsx
  frontend/src/routes/u/$username.tsx
Due: frontend-format, frontend-typecheck

fix: Update bun.lock after TanStack Start migration
  frontend/bun.lock
Due: none

fix: Exclude routeTree.gen.ts from biome formatter
  frontend/biome.json
Due: frontend-format

refactor: Improve dashboard UX with isolated Suspense boundaries, HMR routing, and code cleanup
  Caddyfile
  Justfile
  docs/environments.md
  frontend/app.config.ts
  frontend/src/components/Logo.tsx
  frontend/src/routes/dashboard/index.tsx
  frontend/src/routes/dashboard/scenes/index.tsx
  frontend/src/routes/dashboard/settings.tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/dashboard/tools/chatbot.tsx
  frontend/src/routes/dashboard/tools/clips/index.tsx
  frontend/src/routes/dashboard/tools/timers.tsx
Due: frontend-format, frontend-typecheck

feat: Virtualize ActivityFeed with @tanstack/solid-virtual
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Logo.tsx
  frontend/src/components/stream/ActivityFeed.tsx
  frontend/src/entry-client.tsx
  priv/repo/migrations/20251223231926_add_notifications.exs
Due: elixir-format, frontend-format, frontend-typecheck

fix: Use bg-primary for logo icon to ensure visibility in both themes
  frontend/src/components/Logo.tsx
Due: frontend-format, frontend-typecheck

feat: Add sign out button to login page for logged-in users
  frontend/src/routes/login.tsx
Due: frontend-format, frontend-typecheck

fix: Use neutral-900 for logo icon and text to match page headings
  frontend/src/components/Logo.tsx
Due: frontend-format, frontend-typecheck

fix: Reorder landing nav to Features - About - Pricing
  frontend/src/routes/index.tsx
Due: frontend-format, frontend-typecheck

feat: Side-by-side layout for stream page on wide screens
  frontend/src/components/stream/PlatformConnectionsCard.tsx
  frontend/src/routes/dashboard/stream.tsx
Due: frontend-format, frontend-typecheck

refactor: Consolidate dashboard Suspense into single boundary
  frontend/src/routes/dashboard/index.tsx
Due: frontend-format, frontend-typecheck

feat: Add analytics metric picker with interactive charts
  .claude/settings.local.json
  cdk/bun.lock
  flake.nix
  frontend/bun.lock
  frontend/package.json
  frontend/src/app.css
  frontend/src/components/NotificationBell.tsx
  frontend/src/components/analytics/PlatformDistributionChart.tsx
  frontend/src/components/analytics/ViewerChart.tsx
  frontend/src/components/analytics/index.ts
  frontend/src/components/dashboard/DashboardQuickActions.tsx
  frontend/src/components/stream/PlatformConnectionsCard.tsx
  frontend/src/i18n/locales/de.ts
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/es.ts
  frontend/src/i18n/locales/pl.ts
  frontend/src/lib/formatters.ts
  frontend/src/lib/useTypewriter.ts
  frontend/src/routes/dashboard/analytics.tsx
  frontend/src/routes/dashboard/chat-history.tsx
  frontend/src/routes/dashboard/stream-history/[id].tsx
  frontend/src/routes/dashboard/stream.tsx
  frontend/src/routes/login.tsx
  logo-bigger.png
  logo-gradient-both.png
  logo-gradient.png
Due: frontend-format, frontend-typecheck

change transcription model, get rid of widget background, deduplicate transcription logs
  config/config.exs
  config/runtime.exs
  frontend/src/app.css
  lib/streampai/livestream_manager/stream_manager.ex
  lib/streampai/livestream_manager/transcription/client.ex
  lib/streampai/livestream_manager/transcription/sink.ex
Due: elixir-format, frontend-format

fix glow effect on landing page
  frontend/src/routes/(app)/index.tsx
Due: frontend-format, frontend-typecheck

gracefully degrade avatars in case image cannot be loaded
  frontend/src/components/UserAvatar.tsx
  frontend/src/routes/(app)/dashboard/viewers/[id].tsx
  frontend/src/routes/(app)/dashboard/viewers/index.tsx
Due: frontend-format, frontend-typecheck

Restructure clips UI into viewer/AI tabs and add clip detection pre-training plan
  PRE_TRAINING.md
  config/config.exs
  docker-compose.prod.yml
  docker-compose.yml
  frontend/src/components/clips/ClipsTabNav.tsx
  frontend/src/routes/(app)/dashboard/tools/clips/ai/[id].tsx
  frontend/src/routes/(app)/dashboard/tools/clips/ai/index.tsx
  frontend/src/routes/(app)/dashboard/tools/clips/index.tsx
  frontend/src/routes/(app)/dashboard/tools/clips/viewer/[id].tsx
  frontend/src/routes/(app)/dashboard/tools/clips/viewer/index.tsx
  lib/streampai/livestream_manager/transcription/client.ex
Due: elixir-format, frontend-format, frontend-typecheck

Lazy-load apexcharts and hls.js to reduce initial bundle size
  FINDINGS.md
  frontend/src/components/analytics/ViewerChart.tsx
  frontend/src/components/stream/LiveInputPreview.tsx
Due: frontend-format, frontend-typecheck

Fix memory leak: use onCleanup instead of return in onMount
  FINDINGS.md
  frontend/src/lib/widget-registry.tsx
Due: frontend-format, frontend-typecheck

Encrypt OAuth tokens at rest with ash_cloak
  FINDINGS.md
  frontend/src/sdk/ash_rpc.ts
  lib/streampai/accounts/streaming_account.ex
  lib/streampai/application.ex
  lib/streampai/integrations/paypal_connection.ex
  lib/streampai/vault.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20260308103652_encrypt_oauth_tokens.exs
  priv/resource_snapshots/repo/paypal_connections/20260308103652.json
  priv/resource_snapshots/repo/streaming_account/20260308103652.json
Due: elixir-format, frontend-format, frontend-typecheck

Fix CurrentStreamData policy: require ownership on update actions
  FINDINGS.md
  lib/streampai/stream/current_stream_data.ex
Due: elixir-format

Replace authorize?: false with explicit SystemActor throughout codebase
  FINDINGS.md
  lib/streampai/accounts/user/calculations/hours_streamed_last_30_days.ex
  lib/streampai/accounts/user_role.ex
  lib/streampai/accounts/user_role/changes/notify_on_accept.ex
  lib/streampai/accounts/user_role/changes/notify_on_invite.ex
  lib/streampai/accounts/user_role/changes/notify_on_revoke.ex
  lib/streampai/changes/notify_user.ex
  lib/streampai/integrations/discord/bot_manager.ex
  lib/streampai/integrations/discord/bot_worker.ex
  lib/streampai/integrations/discord_actor.ex
  lib/streampai/integrations/paypal/orders.ex
  lib/streampai/integrations/paypal/partner_referrals.ex
  lib/streampai/livestream_manager/hook_executor.ex
  lib/streampai/livestream_manager/platforms/twitch_manager.ex
  lib/streampai/livestream_manager/platforms/youtube_manager.ex
  lib/streampai/livestream_manager/stream_services.ex
  lib/streampai/notifications/notification.ex
  lib/streampai/notifications/notification/changes/delete_reads.ex
  lib/streampai/notifications/notification_read.ex
  lib/streampai/storage/cleanup_orphaned_files.ex
  lib/streampai/stream/calculations/platforms.ex
  lib/streampai/stream/stream_action.ex
  lib/streampai/youtube/token_manager.ex
Due: elixir-format

Upgrade TimescaleDB from 2.19.3 to 2.24.0 in docker-compose
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Add observability stack: OpenTelemetry tracing, Prometheus metrics, Grafana dashboards
  config/config.exs
  config/runtime.exs
  docker-compose.prod.yml
  docker-compose.yml
  frontend/bun.lock
  frontend/package.json
  frontend/src/app.tsx
  frontend/src/lib/errorReporter.ts
  frontend/src/lib/rpcHooks.ts
  frontend/src/lib/tracing.ts
  frontend/src/lib/useElectric.ts
  grafana-beam-dashboard.png
  grafana-phoenix-dashboard.png
  infra/grafana/dashboards/application.json
  infra/grafana/dashboards/beam.json
  infra/grafana/dashboards/ecto.json
  infra/grafana/dashboards/oban.json
  infra/grafana/dashboards/phoenix.json
  infra/grafana/provisioning/dashboards/dashboards.yaml
  infra/grafana/provisioning/datasources/datasources.yaml
  infra/otel-collector-config.yaml
  infra/prometheus.yml
  infra/tempo.yaml
  lib/streampai/application.ex
  lib/streampai/log_filter.ex
  lib/streampai/otel_ash_tracer.ex
  lib/streampai_web/controllers/error_report_controller.ex
  lib/streampai_web/endpoint.ex
  lib/streampai_web/prom_ex.ex
  lib/streampai_web/router.ex
  mix.exs
  mix.lock
Due: elixir-format, frontend-format, frontend-typecheck

Add Bumblebee, Nx, and Torchx ML dependencies to mix.exs
  mix.exs
  mix.lock
Due: elixir-format

Replace WhisperLive WebSocket client with native Bumblebee Whisper serving
  .claude/settings.local.json
  .gitignore
  Justfile
  config/config.exs
  config/runtime.exs
  docker-compose.yml
  flake.nix
  lib/streampai/application.ex
  lib/streampai/livestream_manager/broadcast_strategy/membrane.ex
  lib/streampai/livestream_manager/transcription/client.ex
  lib/streampai/livestream_manager/transcription/sink.ex
  mix.lock
  vendors/whisper-mlx/requirements.txt
  vendors/whisper-mlx/server.py
Due: elixir-format

Upgrade CI/infrastructure versions and fix frontend type issues
  .github/workflows/integration_tests.yml
  .github/workflows/test_and_deploy.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/src/lib/electric.ts
  frontend/src/lib/useElectric.ts
  frontend/src/routes/(app)/dashboard/scenes/index.tsx
  frontend/src/routes/(widgets)/w/alertbox/[userId].tsx
  frontend/src/routes/(widgets)/w/chat/[userId].tsx
Due: frontend-format, frontend-typecheck

Path conditions:
  elixir-format: any of: *.{ex,exs}
  frontend-format: any of: *.{ts,tsx,js,jsx,json,css} and ^frontend/
  frontend-typecheck: any of: *.{ts,tsx} and ^frontend/
